{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <div style="opacity: 0.96" class="row card text-left p-5">
    	<h2>About Us</h2>
        <p>RevealSecret is based on Sarahah concept.</p>
        <hr>
        
        <h2>FAQ</h2>
        <br>

        <h3>Will RevealSecret show the identity of senders?</h3>
        <p>-RevealSecret won't share the identity of senders even if the sender is logged in..</p>
        <br>
        
        <h3>Can I check identity of sender?</h3>
        <p>-Nope</p>
        <br>
        
        <h3>Can RevealSecret visitors view my messages?</h3>
        <p>-No they can't. RevealSecret is concerned about sender's privacy.</p>
        <br>

        <h3>Can I respond to messages?</h3>
        <p>-You can't. Because there are senders who message you without having an RevealSecret account</p>
        <br>
    </div>
{% endblock content %}