{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
	Profile of {{ request.user.username}}
{% endblock title %}


{% block content %}
	<div style="margin-top: 60px"></div>
	<!-- PRIVATE PROFILE INFO -->
	<div class="row card pt-3 bg-dark" style="opacity: 0.96">
		{% if messages %}
	        {% for message in messages %}
	            <span class="text-success mb-2">{{ message }}</span>
	        {% endfor %}
	    {% endif %}
		<div class="col-sm-4 offset-sm-4">
			{% if account.pp %}	
				<img  src="{{ account.pp.url }}"  class="img-thumbnail" alt="Profile Photo">
			{% else %}
				<img  src="{% static 'img/no_pp.png' %}"  class="img-thumbnail" alt="Profile Photo">
			{% endif %}
		</div>
		<h4 class="card-title mt-2 mb-1 text-light">
			{{ account.get_profile_name }}
		</h4>
		<h6 class="card-title mt-0">
			<i class="text-light fa fa-envelope-o"></i><a style="text-decoration: none;" class="text-success" href="{{ account.get_send_message_link }}">
				<small>https://revealsecret.herokuapp.com/{{ account.user.username }}/</small>
			</a>
		</h6>
		<div class="bg-white">
			<!-- TAB NAV -->
			<ul class="profile_tab_menu">
				<li class="nav-item">
					<a class="nav-link {{ tab1 }}" href="?tab=messages">
						Inbox
					</a>
				</li>
				<li class="nav-item">
					<a class=" nav-lin2 {{ tab2 }}" href="?tab=favourites">
						Favourites
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ tab3 }}" href="?tab=sent">
						Sent
					</a>
				</li>
			</ul>

			<!-- MESSAGES -->
			<div class="card-body">
				<h3><i class="fa fa-comments"></i>&nbsp;Messages</h3>
				<hr>
				{% if tab == 'messages' %}
					{% include 'accounts/messages.html' %}
				{% elif tab == 'favourites' %}
					{% include 'accounts/favourites.html' %}
				{% elif tab == 'sent' %}
					{% include 'accounts/sent.html' %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock content %}